<!DOCTYPE html>
<html lang="en">
<head >
  <meta charset="UTF-8">
  <title>Groupify</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://sdk.scdn.co/spotify-player.js"></script>
</head>
<body>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style ="margin: 0px; padding: 0;">
    <div class="container-fluid " style =" margin: 0px; padding: 0px; white-space: nowrap;">
        <div class="col-2"><h1><a class="logo" href="../" style="color: #84bd00; text-decoration: none;">Groupify</a></h1>
          <div id="room-id" style="color:white">Room ID: <%= roomId %></div>
        </div>
        <div class="col-2" style="padding: 0;">
          <div class="btn-group btn-group-lg" role="group" aria-label="group">
            <button id="vote-btn" class="btn btn-outline-success" type="button">Vote to Skip</button>
          </div>
        </div>
          <div id="col-8 custom-search-input" style="padding: 10px;">
              <div class="input-group input-group-lg">
                  <input id="search-input" type="text" class="search-query form-control " placeholder="Song Name,Artist,or both" />
                  <div class="input-group-append">
                    <button id="search-btn" class="btn btn-success" type="button" >Search</button>
                  </div>
              </div>
          </div>
          </div>

      </div>
</nav>

<div class="col-12">
  <div class="row" style="padding: 0px">
    <div class="col-4 container-fluid" style="background-color:rgb(206, 205, 205); min-height: 800px; margin:0px">
    <div id="queue" class="row"></div>
    </div>


    <div class="col-8 container-fluid" style="background-color:lightgray; min-height: 800px; padding: 0px; margin:0px" >
    <div class="col-12"><div id="search-result" class="row"></div></div>
    </div>


  </div>
</div>


      <div class="col-12" style="background-color:lightgray; min-height: 800px; padding: 0px" >
          <div class="container-fluid" >
           <div id="search-result" class="row">
           </div>
         </div>
      </div>

  <script>
  (function($) {
    $("#search-btn").click(function() {
      $.post("/join/searchTrack", {trackSearch: $('#search-input').val()}, function(data) {
        // Reset results
        $('#search-result').replaceWith(`<div id="search-result" class="row"></div>`);
        // No search results
        if(data.length == 0) {
          $('#search-result').append(`<h4>No results found :(</h4>`);
        } else {
          data.forEach(function(tracks) {
            const songName = tracks.name;
            const albumName = tracks.album.artists[0].name;
            const songLink = tracks.album.artists[0].external_urls.spotify;
            const imgURL = tracks.album.images[0].url;
            $('#search-result').append(
              `<div class="col-4"style="styles.gallery.hover; padding: 0px 0px 20px 15px; background-color:lightgray">
                <a target="_blank" href="${imgURL}">
                <img
                  src="${imgURL}"
                  class="img-thumbnail"
                  alt="${songName}"
                  width="250"
                  height="250"
                  style="styles.gallery.img;"
                  />
                </a>
              <div style="styles.desc">${songName} - ${albumName}</div>
              <a href="${songLink}"><button type="button" class="btn btn-success">Play</button></a>
              <button type="button" class="btn btn-outline-success queue" id=${tracks.id}>Add</button>
              </div>`
             /* `<div class="col-12">
                <img src="${imgURL}" alt="${songName}">
                <a href="${songLink}"><button type="button" class="btn btn-success">${songName} - ${albumName}</button></a>
                <button type="button" class="btn btn-outline-success queue" id=${tracks.id}>Add to queue</button>
              </div>` */
            );
          })
        }
      });
    });

    $(document).on("click", ".queue", function(event){
      $.post("/join/addToQueue", {trackId: this.id, roomId: '<%= roomId %>'}, function(data) {
        $.post("/host/getQueue", {roomId: '<%= roomId %>'}, function(data) {
          console.log("I got the Queue")
          console.log(data.items)
          $('#queue').replaceWith(`<div id="queue" class="row"></div>`);
          for(i = 0;i<data.items.length;i++){
            console.log(data.items[i].track.artists[0].name)
            console.log(data.items[i].track.name)
            const name = data.items[i].track.artists[0].name;
            const songName = data.items[i].track.name;
            $('#queue').append(
                `<div class="col-12 shadow-sm p-2 mb-1 bg-white"style="padding: 0px; margin: 0px">
                <div style="margin:0px; padding:0px">${songName} - ${name}</div>
                </div>`
            );
          }
        });
      });
    });

    $("#vote-btn").click(function() {
      $.post("/host/vote", {roomId: '<%= roomId %>'}, function(data) {

      });
    });

    $(document).on("keypress", "#search-input", function(e) {
      if (e.which == 13) {
          $('#search-btn').click();
      }
    });

    $(window).on('beforeunload ',function() {
      $.ajax({
          type: "POST",
          url: "/join/closeRoom",
          data: {roomId: '<%= roomId %>'},
          async: false,
      });
    });
  })(jQuery);
  </script>
</body>
</html>
